* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

ul {
  list-style: none;
}

.container-70 {
  width: 70%;
  margin: auto;
}

.container-80 {
  width: 80%;
  margin: auto;
}

.container-90 {
  width: 90%;
  margin: auto;
}

/* Navbar */

.navbar {
  height: 100px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/* Content */

.content {
  height: calc(100vh - 100px);
  /* background-color: blue; */
}

/* Home page (search area) */

.search-flex {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}

#distance {
  text-align: center;
  padding: 8px 20px;
  border-radius: 5px;
  border: 2px solid black;
  outline: none;
  width: 200px;
}

.search-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.search-result {
  display: flex;
  justify-content:space-between;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #333;  
  padding: 20px;
  align-items: center;
  column-gap: 10px;
  width: 450px;
}

.result-subsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
  min-width: 100px;
}
.result-subsection:last-of-type{
  align-items: flex-end;
}
.left-subsection{
  text-align: left !important;
}
.right-subsection{
  text-align: right !important;
}