* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

ul {
  list-style: none;
}

.container-70 {
  width: 70%;
  margin: auto;
}

.container-80 {
  width: 80%;
  margin: auto;
}

.container-90 {
  width: 90%;
  margin: auto;
}

/* Navbar */

.navbar {
  height: 100px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/* Content */

.content {
  height: calc(100vh - 100px);
  /* background-color: blue; */
}

/* Home page (search area) */

.search-flex {
  margin: 40px 0;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}

.search-form {
  min-width: 800px;
}

.search-bar {
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#distance {
  text-align: center;
  padding: 8px 20px;
  border-radius: 5px;
  border: 2px solid black;
  outline: none;
  flex: 3;
  font-size: inherit;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#filter-btn {
  padding: 8px 20px;
  border: 2px solid black;
  outline: none;
  background-color: white;
  border-radius: 5px;
  flex: 1;
  font-size: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: background-color 0.25s;
}

#filter-btn:hover {
  background-color: #ddd;
  cursor: pointer;
}

#dropdown-icon {
  margin-left: 20px;
}

#dropdown-menu {
  display: none;
  justify-content: space-evenly;
  column-gap: 10px;
  min-width: 800px;
}

.dropdown-checkbox {
  margin-left: 10px;
}

.type-filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
}

.rank-filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  row-gap: 10px;
}

/*results*/
.search-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  min-width: 800px;
}

.search-result-form {
  min-width: inherit;
}

.search-result-btn {
  border: none;
  background: none;
  min-width: inherit;
  cursor: pointer;
}

.search-result {
  display: flex;
  min-width: inherit;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #333;
  padding: 20px;
  align-items: center;
  column-gap: 10px;
  transition: background-color 0.25s;
}

.search-result:hover {
  background-color: #ddd;
}

.result-subsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
  min-width: 100px;
}

.result-subsection:last-of-type {
  align-items: flex-end;
}

.left-subsection {
  text-align: left !important;
}

.right-subsection {
  text-align: right !important;
}

/* Info page */

.info-wrapper {
  margin-top: 50px;
  display: flex;
  column-gap: 50px;
  background-color: white;
  padding: 40px;
}

.info-left {
  flex: 2;
}

.info-right {
  flex: 1;
}
