{% extends 'base.html' %} {% block content %}
<div class="search-flex">
  <h1>
    Welcome to Vendor Search! Enter a distance below to find vendors near you.
  </h1>
  <form method="post">
    <input
      name="distance"
      type="text"
      id="distance"
      value="{{ request.form['distance']
    }}"
      placeholder="Distance"
      required
    />
    <input type="submit" value="Search" hidden />
  </form>
  <ul class="search-results">
    {% for vendor in vendors %}
    <li>
      <p>{{vendor.name}}</p>
      <p>{{vendor.age}}</p>
    </li>
    {% endfor %} {% endblock %}
  </ul>
</div>
