{% extends 'base.html' %} {% block content %}
<div class="search-flex">
  <h1>Now, how far would you like to search for vendors?</h1>
  <form
    class="search-form"
    action="{{ url_for('searchBP.search') }}"
    method="post"
  >
    <div class="search-bar">
      <input
        name="distance"
        type="number"
        min="0"
        id="distance"
        value="{{ request.form['distance']
    }}"
        placeholder="Distance (km)"
      />
      <input type="submit" hidden />
      <select
        name="filter"
        id="filter-select"
        value="{{ request.form['filter'] }}"
      >
        <option value="delivery">Delivery</option>
        <option value="takeout">Takeout</option>
      </select>
    </div>
  </form>
  <h1>Or, would you like to find up to 20 nearby vendors?</h1>
  <form
    class="second-search-form"
    action="{{ url_for('searchBP.search_nearby') }}"
    method="post"
  >
    <input
      class="nearby-btn"
      name="nearby"
      type="submit"
      value="Find nearby vendors"
    />
  </form>
  <ul class="search-results">
    {% for vendor in vendors %}
    <form
      class="search-result-form"
      action="{{ url_for('searchBP.info') }}"
      method="post"
    >
      <button
        class="search-result-btn"
        name="info-btn"
        type="submit"
        value="{{ vendor }}"
      >
        <li class="search-result">
          <div class="result-subsection left-subsection">
            <p>{{vendor.name}}</p>
            <p>{{vendor.address}}</p>
          </div>
          <div class="result-subsection right-subsection">
            <p>{{vendor.open}}</p>
            <p>{{vendor.rating}}</p>
          </div>
        </li>
      </button>
    </form>
    {% endfor %}
  </ul>
</div>
<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
</style>
{% endblock %}
